[submodule "agave"]
	path = agave
	url = https://github.com/esemeniuc/agave.git
	branch = rebase/main-bam-upstream-20260828-exec
[submodule "src/disco/bam/proto/bam-protos"]
	path = src/disco/bam/proto/bam-protos
	url = https://github.com/jito-labs/bam-protos.git
